<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-9">
      <h1><%= @article.title %></h1>
      <p><%= @article.body %></p>
    </div>
    <div class="col text-right">
      <%= link_to "Edit", edit_article_path(@article) %>
    </div>
  </div>
</div>

<% if @article.comments.present? %>
  <h2>Comments</h2>
  <%= render @article.comments %>
<%end %>

<h2>Add comment</h2>
<%= render "comments/form" %>
